 body{
    
    background: gray;
} 

.text{
    margin: 25px;
    padding: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    width: 400px;
    text-align: center; 

}

.form{
    padding:50px;
}